<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings. -->
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
		<property name="hibernate.connection.username">system</property>
		<property name="hibernate.connection.password">admin123</property>

		<!-- Sql dialect. -->
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>

		<!-- Printing the sql queries to the console. -->
		<property name="show_sql">true</property>

		<!-- Validating the database schema. -->
		<property name="hbm2ddl.auto">create</property>

		<!-- Model class. -->
		<mapping class="com.hibernate.Employee" />
	</session-factory>
</hibernate-configuration>